

*
{
    padding: 0;
    margin: 0;
}



#grid-container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: wrap;

}

.grid-box
{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    text-align: center;
}

.trail
{
    position: fixed;
    z-index: 1;
}

.dot
{
    opacity: 50%;
    width: 5px;
    height: 5px;
    position: fixed;
    
    
}